:root {
	--black-color:#121619;
	--white-color:#fff;

	--light-grey:#B5B5B5;
	--dark-grey:#232327;

	--red-color:#F03278;
	--orange-color:#E57A40;
	--yellow-color:#F1A82F;

	--green-color:#4FC066;
	--blue-color:#209E9B;

	--bg-color:var(--black-color);
	--text-color:var(--white-color);

	--padding:10px;
	--large-padding: calc(var(--padding) * 2);

	--margin: calc(var(--padding) * 3);
	--large-margin: calc(var(--margin) * 2);
}

@font-face {
	font-family: "stampers";
	src: url("../assets/fonts/stampers.ttf");
}

@font-face {
	font-family: "ranchers";
	src: url("../assets/fonts/ranchers.ttf");
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

* {
	box-sizing: border-box;
	outline: none;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	color:var(--text-color);
	background-color:var(--bg-color);

	background-image:
		url('../assets/explosion.png'),
		url('../assets/bg.jpeg');
	background-size:
		cover,
		cover;
	background-repeat:
		no-repeat,
		no-repeat;
	background-position:
		center center,
		bottom center;
	background-blend-mode:
		overlay,
		lighten;

	min-height:100vh;

	margin:0;
	padding:var(--padding);

	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	font-family: "FreeMono", monospace;
	font-size: 13pt;

	text-align: center;
}

header,
main,
footer {
	max-width:720px;
	margin:0 auto;
}

main {
	position:relative;
	flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ranchers";
}

a {
	color:var(--blue-color);
	text-decoration:none;
}

a img {
	border:none;
}

a:hover {
	text-decoration:underline;
}

p, ul, ol, blockquote {
	line-height: 1.75;
}

header {
	padding-bottom: var(--large-padding);
	border-bottom: 1px dashed var(--light-grey);
}

header h1 {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;

	column-gap: var(--large-padding);

	font-size: clamp(24px, 9vw, 92px);
	text-shadow: 2px 2px 18px var(--bg-color);
	margin: var(--margin) 0 0 0;
	text-transform: uppercase;
}

header h1 span {
	display:block;
}

header h1 span.battle {
	width:100%;
	flex-grow: 1;
	font-size: 2.5em;
	margin-bottom:-26px;
}

header h1 span.of-the {
	flex-grow: 0;
	font-size:0.75em;
	line-height: 1.125;
	margin-top:6px;
}

header h1 span.bands {
	flex-grow: 0;
	font-size:1.75em;
	margin-top:-18px;
}

header h2 {
	color:var(--orange-color);
	font-family: "stampers";
	font-size: clamp(24px, 9vw, 92px);
	font-weight: bolder;

	text-shadow: 2px 2px 18px var(--bg-color);
	
	-webkit-text-stroke: 2px var(--white-color);
	text-transform: uppercase;

	margin: 0 0 calc(var(--padding) * 3) 0;
}

header time {
	font-weight: bold;
	font-size: clamp(24px, 7vw, 52px);
	text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.36);
}

main article {
	position: relative;
	text-align: left;
	margin-top: var(--large-padding);

	padding: var(--large-padding);

	z-index:2;

	min-width: 380px;
}

main article::before {
	content: "";

	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -1;

	background-color: var(--bg-color);
	opacity:0.36;

	border-radius: var(--padding);
}

main article h1 {
	font-family: 'Freemono', monospace;
	font-weight: bolder;
	margin:0;
}

ul.line-up {
	font-family: 'stampers';
	font-size: 24px;
	font-weight: bolder;
}

ul.menu {
	list-style: none;
	padding:0;
	font-size: 30px;
	margin-top: var(--large-margin);
}

ul.menu li {
	margin: var(--margin);
}

ul.menu a.btn {
	display:block;

	color:var(--text-color);
	background-color:var(--blue-color);
	font-weight: bold;

	border-radius: var(--padding);

	text-align: center;

	padding: var(--padding) var(--margin);
}

ul.menu a.btn:hover {
	text-decoration: none;
	background-color: var(--green-color);
}

#loading-screen {
	--duration: 3s;

	visibility:visible;

	position: fixed;
	top:0;
	left:0;

	width:100vw;
	height:100vh;

	z-index:100;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: var(--bg-color);

	transition:
		opacity var(--duration) ease 0s,
		visibility 0s linear var(--duration);
}

#loading-screen .loader {
	border:8px dashed var(--orange-color);

	border-radius:50%;

	width: 240px;
	height: 240px;
	
	aspect-ratio:1.0;

	animation: spin 2s ease-in-out 0.25s infinite;
	transition: border 1s ease 0s;
}

html.ready #loading-screen {
	visibility: hidden;
	opacity:0;
}

html.ready #loading-screen .loader {
	border:8px dashed var(--white-color);	
}